<h1>文章列表</h1>

<% @entries.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |entry| %>
      <div class="col-md-4">
        <%= image_tag entry.picture_url, width: '100%' if entry.picture.present? %>
        <h4><%= link_to entry.title, entry %></h4>
        <%= entry.description %>
      </div>
    <% end %>
  </div>
<% end %>
