<p id="notice"><%= notice %></p>

<div class="mod-article">

    <%= content_tag :section, class: 'title', style: (@entry.picture.present?) ? "background-image:url(#{@entry.picture_url});" : nil do %>
        <h1><%= @entry.title %></h1>
    <% end %>

    <div class="content">
      <%= @entry.description %>
    </div>

    <div class="actions pull-right">
      <%= link_to '編輯', edit_entry_path(@entry), class: 'btn btn-default' %>
      <%= link_to '刪除', @entry, data: { confirm: '你確定要刪除這篇文章嗎？' }, method: :delete, class: 'btn btn-danger' %>
      <%= link_to '回到列表', entries_path %>
    </div>

</div>
