// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mod-article {

  section {
    background-color: #000;
    background-size: cover;
    background-position: center center;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(#000, 0.2);
    height: 400px;
    margin: 20px 0;
    h1 {
      left: 0;
      color: #fff;
      right: 0;
      text-align: left;
      text-shadow: 1px 1px 1px rgba(#000, 0.5);
      width: 80%;
      margin: 0 auto;
      top: 40%;
      position: absolute;
    }
  }
  .content {
    margin: 30px 0;
  }

}
