<!DOCTYPE html>
<html>
<head>
  <title>Rails Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">啊嗚的部落格</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <%= content_tag :li, class: current_page?(entries_path) ? 'active' : '' do %>
                <%= link_to '文章列表', entries_path %>
            <% end %>
            <%= content_tag :li, class: current_page?(new_entry_path) ? 'active' : '' do %>
                <%= link_to '新增文章', new_entry_path %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <%= yield %>
    </div>

    <footer>
      <div class="container">
        <hr>
        啊嗚出品，必屬佳作
      </div>
    </footer>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>
</html>
